@page "/counter"
@rendermode InteractiveServer

@using BlazorServerProj.Interfaces
@using BlazorServerProj.Services
@using BlazorServerProj.Models

@inject IDatabase<GangnamguPopulation> GangnamguPopulationService
@* @inject GangnamguPopulationService GangnamguPopulationService2 *@


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    // 페이지가 처음 초기화 될 때 호출되는 함수
    protected override void OnInitialized()
    {
        // 의존성을 주입받은 인스턴스를 사용하면 외부에서 내부 코드로 접근이 안된다.
        // 인터페이스로만 접근하기 떄문에 보안성이 보장된다.
        var data1 = GangnamguPopulationService.Get();
        // 직접 인스턴스화해서 사용하면 외부에서 해당 내부 코드로 접근된다.
        // 보안이 보장되지 않는다.
        // var data2 = GangnamguPopulationService2.Get();
    }
}
